*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
p{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    Font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
}

h2{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    padding-top: 25px;
    padding-bottom: 25px;

}
img{
   width: 50px;
   height: 50px;
}
button{
    background-color: hsl(0, 0%, 95%);
    margin-top: 50px;
    padding: 10px ;
    border: none;
    border-radius: 25px;
    
}
button:hover{
    background-color: transparent;
    border: 1px solid white;
    color: white;
}
.sedan_btn{
    color: hsl(31, 77%, 52%);
}
.suv_btn{
    color: hsl(184, 100%, 22%);
}
.luxury_btn{
    color: hsl(179, 100%, 13%);
}
body{
    background-color: hsl(0, 0%, 95%);
}
main{
    width: 100%;
    max-width: 850px;
    margin: auto;
    padding:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.header{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 40px;

}
a{
    color: rgb(190, 100, 35);
    text-decoration: none;
    cursor: pointer;
}
a:hover{
 color: rgb(85, 139, 141);
 text-transform: uppercase;
}
.container{
    display: flex;
    align-items: stretch;
    width: 100%;
}
.sedan{
    background-color: hsl(31, 77%, 52%);
    padding: 25px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.suv{
    background-color: hsl(184, 100%, 22%);
    padding: 25px;
}
.luxury{
    background-color: hsl(179, 100%, 13%);
    padding: 25px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

@media  screen and (max-width: 760px) {
    .container{
        flex-direction : column;
    }
    .sedan{
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0;
    }
    .luxury{
        border-top-right-radius: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}